@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1300px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.60;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    opacity: none;
    max-width: 63vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav img {
    color: red;
    width: 148px;
    position: relative;
    z-index: 10;
    filter: brightness(87%);
}

nav button {
    position: relative;
    z-index: 10;

}

.maintext {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    height: calc(100% - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* z-index: 10;
    line-height: 30px; */
    gap: 23px;
    padding: 0 30px;
}

.maintext> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;

}

.maintext> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.maintext> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.separate {
    height: 5px;
    background-color: grey;
}

.btn {
    /* padding: 4px 8px; */
    font-weight: 700;
    background-color: white;
    border: 0;
}

.btn-red-sn {
    background-color: #E50914;
    color: white;
    padding: 3px 8px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 17px;
}
.email {
    color: white;
    padding: 14px 15px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: large;

}

.btn-red  {
    background-color: #E50914;
    color: white;
    padding: 14px 15px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: large;
}